.main {
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 80px;
  min-height: 80px;
  background-color: white;

  span {
    color: #747487;
    display: inline-block;
    border-left-width: 1px;
    border-color: #747487;
  }

  a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    .Logo-Img {
      max-height: 50px;
      width: auto;
    }
  }

  a#logo {
    text-align: left;
    margin-right: auto;
  }

  .links {
    vertical-align: middle;
    text-align: right;
    padding-right: 3vw;
  }
}

.Home-Content-Container {
  background-color: white;
  width: 900px;
  margin: 100px auto;
  border-radius: 16px;
  padding: 30px;
}

img#logo {
  padding-top: 5vh;
  max-height: 200px;
}

.home {
  padding-top: 5vh;

  h1 {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .description {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;

    a {
      color: black;
      font-size: 18px;
    }
  }


  .feature-entry {
    margin: auto;
    width: 50%;

    .disable-chat-button {
      display: none;
    }

    button {
      border: none;
      border-radius: 10px;
      width: 90%;
      margin: auto;
      background-color: #2D8CFF;
      color: #FFFFFF;
      margin: 20px;
      padding: 15px;

      .button-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      i {
        font-size: 18px;
        vertical-align: middle;
        margin-right: auto;
        padding-left: 5%;
        text-align: left;
      }

      span {
        font-size: 16px;
        font-weight: bold;
        margin-right: auto;
        vertical-align: middle;
        text-align: middle;
      }
    }

    .entry-item {
      margin: auto;
      width: 50%;
      margin-top: 1vw;

      .ant-card-cover {
        padding-top: 20px
      }
    }
  }
}
